$font-url : 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';
:root {
    --exdos-fonts-poppins: "Poppins", sans-serif;
    --exdos-fonts-muli: "Muli", sans-serif;
}